<h1>Create a new software engineering project</h1>
<% if @sproject.errors.any? %>
    <h3>The following errors need your attention</h3>
    <ul>
        <% @sproject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
<%= form_with scope: :software_project, url: software_projects_path, local: true do |f| %>
    <p>
        <%= f.label :title%><br>
        <%= f.text_field :title%>
    </p>
    <p>
        <%= f.label :description%><br>
        <%= f.text_area :description %> 
    </p>
    <p>
        <%= f.label :body%><br>
        <%= f.text_area :body %> 
    </p>
    <p>
        <%= f.submit %>
    </p>

<% end %>