<h1><%= @sproject.title %></h1>
<small>Date: <%= @sproject.created_at %></small>

<p><strong>Title:</strong><%= @sproject.title%></p>
<p><strong>Description:</strong><%= @sproject.description %></p>
<p><strong>Body:</strong><%= @sproject.body%></p>
