<h1>Create new project</h1>

<% if @project.errors.any? %>
    <h3>The following errors prevented the project from being saved</h3>
    <ul>
        <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul> 
<% end %>

<%= form_with scope: :project, url: projects_path, local: true do |f| %>
    <p>
        <%= f.label :title%><br>
        <%= f.text_field :title%>
    </p>
    <p>
        <%= f.label :description%><br>
        <%= f.text_area :description %> 
    </p>
    <p>
        <%= f.label :body%><br>
        <%= f.text_area :body %> 
    </p>
    <p>
        <%= f.submit %>
    </p>
<%end%>